/*by hemantc09@gmail.com*/
body {
	color: #828282;
	font-family: 'Lato', sans-serif;
	margin: 0px auto;
	width: 1029px; 
}

.header {
	background: #17354A;
	height: 98px;
	width: 1029px;
}

.logo {
	padding-left: 30.22px;
	padding-top: 34.73px;
	width: 124px;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 0 16px;
}


input[type="email"],
button {
	outline: none;
	margin-top: 10px;
	width: 400px;
}

input[type="email"]:hover {
	background: rgba(189, 189, 189, 0.24);
}

input[type="email"]:focus {
	background: #FFFFFF;
	border: 2px solid #47B9E8;
	
}

input[type="email"] {
	background: #FFFFFF;
	border: 2px solid #47B9E8;
	border-radius: 4px;
	box-sizing: border-box;
	color: #333333;
	font-size: 16px;
	height: 39px;
	padding-left: 20px;
}

input[type="email"]:focus:valid {
	border: 1px solid green;
	outline: none;
}


input[type="radio"] {
	opacity: 0;
	position: absolute;
}

input[type="radio"] + label {
	line-height: 25px;
	padding: 0 0 0 25px;
	position: relative;
}

input[type="radio"] + label:before {
	border: 1px solid gray;
	border-radius: 50%;
	box-shadow: inset 0px 0px 0px 2px white;
	content: "";
	display: block;
	height: 16px;
	position: absolute;
	top: 2px;
	width: 16px;
}

input[type="radio"]:checked + label:before {
	background: #828282;
}

/*=== select list*/
.selectdiv {
	  position: relative;
}

.selectdiv:after {
	content: '\f078';
	font: normal 15px FontAwesome;
	position: relative;
	padding: 15px 0px 0px 8px;
	position: absolute;
	pointer-events: none;
	right: 11px;
}

.selectdiv select {
	background: rgba(189, 189, 189, 0.13);
	border: none;
	color: #828282;
	font-size: 16px;
	float: right;
	height: 39px;
	margin: 5px 0px;
	padding: 0px 24px;
	width: 400px;
	-webkit-appearance: none;
	-moz-appearance: none;
}


/*button style*/
.btnSubmit {
	margin-top: 50px;
	width: 400px;
	height: 38px;
	background: #0088BB;
	border: 1px solid #0088BB;
	border-radius: 4px;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 14px;
}

/*error messages style*/

.error {
	color: #D5322F;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
}


/*top logo styles*/
.logoEclipse {
	background: #F2F2F2;
	border-radius: 50%;
	height: 140px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	text-align: center;
	width: 140px;
}

.calendar {
	color: #0088BB;
	font-size: 64px;
	height: 64px;
	line-height: 140px;
	width: 60px;
}

.radioBoxLeft {
	float: left;
}

.radioBoxRight {
	float: right;
}

.h1-BookADdemo {
	color: #4F4F4F;
	font-size: 34px;
	font-weight: 900;
	line-height: 53px;
	text-align: center;
}

p {
	font-size: 16px;
	text-align: center;
}

.secondaryText {
	float: left;
}

.labelForInput {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: normal;	
}

/*screensize greter than 1029 show scroll bar horizontal*/
@media only screen and (min-width : 1029px) {
    body {
        width: 100%;
    }
	.header {
        width: 100%;
    }
}